.headerdiv {
  height: 90%;
  width: 100% !important;
  overflow: hidden;
}

.container-main {
  background-color: #fcb900 !important;
  font-size: 1.2rem;
}

.dashboard {
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  color: black;
}
